.git
.github
.vscode
.DS_Store
**/.DS_Store
**/.env
**/node_modules
**/dist
**/coverage
**/.bundle
**/.gradle
**/Pods
**/DerivedData
Bike2Beans/**/bin
Bike2Beans/**/obj
Bike2BeansUI/android/build
Bike2BeansUI/ios/build
