.DS_Store
/Bike2Beans/obj
/Bike2Beans/bin
Bike2Beans/.env
Bike2BeansUI/.env
Bike2BeansUI/dist/bundle.js
/Bike2Beans/Api/obj
/Bike2Beans/Domain/obj
/Bike2Beans/Infrastructure/obj
/Bike2Beans/Infrastructure/bin
/Bike2Beans/Api/bin
/Bike2Beans/Domain/bin
